.GroupsInfo {
    background-color: rgb(39, 39, 39);
    color: #06E19E;
    box-shadow: 0 10px 25px rgb(0 0 0 / 1);
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    width: 450px;
    height: 500px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 2;
}

.GroupsInfo h5 {
    font-size: 35px;
    margin: auto;
    width: 80%;
}

.noGroup {
    margin-top: 30px;
}

.groupCreateButton {
    margin-top: 30px;
    width: 200px;
    height: 35px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 1);
    border-radius: 20px;
    background-color: #02B3FC;
    color: #F8CE27;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    transform: scale(1);
    transition: all 1s cubic-bezier(.79, 0, .37, 4);
}

.groupCreateButton:hover {
    transform: scale(1.1);
    transition: all 1s cubic-bezier(.79, 0, .37, 4);
}

.groupCreateButton p {
    position: relative;
    z-index: 2;
    margin-top: 5px;
    width: 100%;
    height: 35px;
}

.groupCreateButton p:hover {
    color: #02B3FC;
}

.groupCreateButton::before {
    content: "";
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    background-color: #F8CE27;
    color: #02B3FC !important;
    height: 100%;
    transition: all .4s linear;
    z-index: 1;
    transform: translateX(-100%);
}

.groupCreateButton:hover::before {
    transform: translateX(-0%);
}

.groupCreator {
    transition: all 1s linear !important;
}

.groupCreator p {
    height: 100px;
}

.groupLanding {
    transition: all 3s linear !important;
}

.adminGroups {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #06E19E;
    margin-bottom: 15px;
}

.adminGroups p {
    color: #eeeeee;
}

.memberGroups p {
    color: #eeeeee;
}

.memberGroups {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #06E19E;
}

.groupTiles {
    border-top: 1px solid #06E19E;
    border-right: 1px solid #06E19E;
    border-left: 1px solid #06E19E;
    width: 100%;
    margin: auto;
    height: 40px;
    cursor: pointer;
    transition: all .4s;
    overflow: hidden;
    position: relative;
}

.groupTiles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #063170;
    height: 100%;
    transition: all .4s;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform .3s cubic-bezier(.13, .54, .88, .53);
}

.groupTiles:hover::before {
    transform: translatey(0);
}

.groupTiles h6 {
    margin-top: 10px;
}

/* .memberSlide {
    width: 450px;
} */

.group-AB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px solid #06E19E;
    border-bottom: 1px solid #06E19E;
    margin-top: 20px;
}

.group-AB p {
    font-size: 20px;
    padding-top: 10px;
}

.group-AC {
    display: grid;
    grid-template-columns: 49% 1% 49%;
    justify-content: space-around;
}

.group-BB {
    background-color: #06E19E;
    width: 1px;
    margin-top: -56px;
}

.group-BA {
    margin-top: 20px;
}

.group-BC {
    margin-top: 20px;
}

.carousel {
    width: 100%;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.input p {
    margin-top: 2px;
    font-size: 20px;
}

.addThem {
    font-size: 20px!important;
    margin-bottom: -40px;
    margin-top: 30px;
}

.groupButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.groupButtons button {
    border: none;
    background-color: #02B3FC;
    color: #F8CE27;
    width: 80px;
    border-radius: 20px;
    height: 35px;
}

.adminGroupButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.adminGroupButtons button {
    border: none;
    background-color: #02B3FC;
    color: #F8CE27;
    width: 120px;
    border-radius: 20px;
    height: 35px;
}

.backButton {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
}

.backButton button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: #02B3FC;
}

.backButton svg {
    color: #F8CE27;
    height: 30px;
    width: 30px;
}

.explainer {
    margin-top: 30px;
    margin-bottom: 60px;
}

.search-box{
    width: 100%;
    display: flex;
  }
  
  .search-input{
    width: 200px;
    height: 35px;
    padding: 10px;
    border: 4px solid #02B3FC;
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    color: #F8CE27;
    background: none;
    margin-left: 20%;
  }
  .search-button{
   text-align: center;
  height: 35px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 4px solid #02B3FC;
   border-radius: 0 10px 10px 0 ;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 4px solid #02B3FC;
  }

  .search-button svg {
    color: #F8CE27;
    margin-top: -5px;
    height: 25px;
    width: 25px;
  }

  .namer {
    width: 60%;
    height: 35px;
    padding: 10px;
    border: 4px solid #02B3FC;
    border-radius:10px;
    outline: none;
    color: #F8CE27;
    background: none;
  }

  .results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: fadeIn 2s linear forwards;
  } 

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .results p {
    font-size: 18px;
    margin-left: 20px;
    height: 30px;
  }

  .addButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addButton button {
    border: none;
    background-color: #F8CE27;
    color: #063170;
    width: 30px;
    border-radius: 50%;
    height: 30px;
}

.addButton svg {
    width: 30px;
    height: 30px;
}

.GroupsInfo::-webkit-scrollbar {
    width: .5em;
}

.GroupsInfo::-webkit-scrollbar-track {
    background-color: #02B3FC;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.GroupsInfo::-webkit-scrollbar-thumb {
    background-color: #063170;
    border-radius: 1rem;
}