.helpContent {
    background: linear-gradient(270deg, #a0f2ff, #ffada2);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-size: auto 100%;
    text-align: left !important;
}

.helpBody {
    display: grid;
    grid-template-columns: 49.5% 1% 49.5%;
}

.helpContent h1 {
    font-weight: 100;
    text-align: center;
    font-size: 75px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.helpContent h2 {
    text-decoration: underline;
    font-weight: 400;
}

.helpContent p {
    margin-bottom: 0 !important;
}

.helpContent a:link {
    text-decoration: none;
}

.helpContent a:visited {
    text-decoration: none;
}

.helpContent a:hover {
    text-decoration: none;
}

.helpContent a:active {
    text-decoration: none;
}

.faq {
    margin-left: 20%;
    margin-top: 30px;
}

.faq h2 {
    padding-left: 120px;
}

.faq li {
    font-weight: 600;
    font-size: 16px;
}

.faq p {
    font-size: 14px;
}

.Remoftheday {
    width: 50% !important;
    margin: auto !important;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.rightSide {
    margin-top: 80px;
    display: block;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.rightSide h6 {
    margin-bottom: 60px;
}

.middleLine {
    width: 2px;
    margin-top: 40px !important;
    height: 95%;
    background-color: black;
    border-radius: 50%;
    margin: auto;
}

.spans {
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.license {
    margin-top: 60px;
}

.socials {
    margin-top: 60px;
}

.SocialIcons {
    margin-top: 60px;
}

.indivSocialIcons {
    padding-left: 4%;
    padding-right: 4%;
}

.indivSocialIcons svg {
    color: #ff6868;
    width: 30px;
    height: 30px
}

.indivSocialIcons svg:hover {
    color: #ff3a3a;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.thankYou {
    margin-top: 60px;
}
