/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------Page Span--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.helpContent {
    color: #fefefe;
    position: relative;
    overflow: hidden;
    background-color: rgb(25, 25, 25);
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

.helpMe {
    top: 0 !important;
    margin-top: -10px;
}

.hidden {
    opacity: 0;
    transition: all 1.5s;
}

.show {
    opacity: 1;
}

.middleLine {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

.lineLeft {
    left: 3% !important
}

.middleLine::after {
    content: '';
    display: block;
    position: absolute;
    height: 12vh;
    width: 100%;
    top: 0;
    left: 0;
    animation: drop 6s infinite;
    animation-fill-mode: forwards;
}

@keyframes drop {
    0% {
        top: -50%
    }

    100% {
        top: 110%
    }
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #F8CE27;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb {
    background-color: #063170;
    border-radius: 1rem;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------Header--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.helpHeader {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.helpHeader h1 {
    font-weight: 100;
    font-size: 75px;
    color: #06E19E;
}

.helpHeader svg {
    transition: all .3s ease-in-out;
}

.helpHeader svg:hover {
    transform: scale(1.25);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------Tile section-----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.tileContainer {
    position: relative;
    z-index: 0;
    color: black;
}

.help-design-column1 {
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30% 30% 30%;
    height: 250px;
    justify-content: center;
    margin-bottom: 15px;
}

.help-design-column2 {
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30% 30% 30%;
    height: 250px;
    justify-content: center;
    margin-bottom: 15px;
}

.help-design-column3 {
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30% 30% 30%;
    height: 250px;
    justify-content: center;
    margin-bottom: 15px;
}

.tileDesign {
    background-size: 400% 100% !important;
    animation: gradient 10s linear infinite !important;
    animation-direction: alternate !important;
    height: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 200;
}

.Personaldeco {
    background: linear-gradient(45deg, #06E19E, #06E19E, #063170, #063170);
}

.Meetingdeco {
    background: linear-gradient(45deg, #02B3FC, #02B3FC, #F8CE27, #F8CE27);
}

.Generaldeco {
    background: linear-gradient(45deg, #063170, #063170, #06E19E, #06E19E);
}

.Appointmentdeco {
    background: linear-gradient(45deg, #F8CE27, #F8CE27, #02B3FC, #02B3FC);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------FAQ section-----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.faqBody {
    position: relative;
    background-color: rgb(39, 39, 39);
    z-index: 3;
    padding-bottom: 80px;
}

.faq {
    text-align: center;
    margin-top: 140px;
    margin-left: 5%;
    margin-right: 5%;
}

.faqLine {
    background-color: #06E19E;
}

.faqLine::after {
    background: linear-gradient(to bottom, #06E19E 0%, #305b9b 75%, #063170 100%);
}

.faq h2 {
    padding-top: 70px;
    font-weight: 100;
    font-size: 110px;
    color: #06E19E;
    text-shadow: #063170 5px 3px;
}

.rotate {
    -webkit-animation: spin .5s ease 1;
    -moz-animation: spin .5s ease 1;
    animation: spin .5s ease 1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.firstanswer {
    margin-top: 80px;
}

.lastanswer {
    border-bottom: 2px solid #06E19E;
}

.answersHeader {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all .6s;
    height: 95px;
}

.answersHeader:hover {
    transition: all .6s;
    margin-left: 2%;
    margin-right: 2%;
}

.answers {
    border-top: 2px solid #06E19E;
    width: 100%;
    cursor: pointer;
    transition: all .4s;
    overflow: hidden;
    position: relative;
}

.answers::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #063170;
    height: 100%;
    transition: all .4s;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform .4s cubic-bezier(.13, .54, .88, .53);
}

.answers:hover::before {
    transform: translatey(0);
}


.answers h4 {
    font-size: 25px;
    font-weight: 300;
}

.shiftOpen {
    animation: openDown .7s forwards;
    animation-timing-function: cubic-bezier(.79, -0.08, .37, 1.47);
}

.shiftClose {
    animation: closeUp .7s forwards;
    animation-timing-function: cubic-bezier(.79, -0.08, .37, 1.47);
}

@keyframes openDown {
    from {
        margin-top: -150px;
        opacity: 0;
    }

    to {
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes closeUp {
    from {
        margin-top: 0%;
        opacity: 1;
    }

    to {
        margin-top: -150px;
        opacity: 0;
    }
}


.answersPara {
    text-align: left !important;
    margin-left: 2%;
    margin-bottom: 2%;
    position: relative;
    z-index: -1;
    /* margin-top: -17%; */
    opacity: 1;
    /* animation: 1s slide; */
}

/* @keyframes slide {
    from {
        margin-left: 40%;
    }

    to {
        margin-left: 2%;
    }
} */

.answersPara p {
    font-size: 18px;
    font-weight: 200;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------Motivate section---------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.motivatingRemContainer {
    position: relative;
    padding-top: 350px;
    padding-bottom: 400px;
    z-index: 1;
    margin-top: -800px;
}

.bigMotivatingReminder {
    width: 90% !important;
    height: 650px;
    border-radius: 1.2rem;
    border: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    margin: auto !important;
    margin-bottom: 80px !important;
}

.bigMotivatingReminder p {
    text-shadow:
        0 0 0 #F8CE27,
        0 0 0 #02B3FC;
    outline: 12px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.bigMotivatingReminder p:hover {
    text-shadow:
        0.9px -0.7px 0 #F8CE27,
        0.7px 0.7px 0 #02B3FC;
    transition: 1s cubic-bezier(0.5, 200, 0.5, -200);
    outline: 12px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}



/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------Thanks section---------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.thanksContainer {
    position: relative;
    background-color: rgb(39, 39, 39);
    z-index: 3;
    height: 1000px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanksContainer h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 80px;
    color: #F8CE27;
    font-weight: 200;
    font-size: 110px;
    text-shadow: #02B3FC 5px 3px;
    z-index: 5;
}

.thanksLine {
    background-color: #02B3FC;
}

.thanksLine::after {
    background: linear-gradient(to bottom, #02B3FC 0%, #d4ba4f 75%, #F8CE27 100%);
}


.lefty {
    text-align: left;
    border-top: 2px solid #02B3FC;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 6%;
    margin-top: 5%;
    font-weight: 200;
    font-size: 35px;
}

.righty {
    text-align: left;
    border-top: 2px solid #02B3FC;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 6%;
    margin-top: 5%;
    font-weight: 200;
    font-size: 35px;
}

.smileyFace {
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background-color: #F8CE27;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    animation: bounce 3s infinite;
    box-shadow: 0 0 10em 0 #063170, 0 0 25em 4em #2a5492, 0 0 50em 6em #06E19E;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-7px);
    }
}

.orbit {
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #F8CE27;
    overflow: hidden;
    left: 32em;
    animation: orbit 3.5s infinite ease-in-out;
}

.orbit2 {
    animation: orbit2 4s infinite ease-in-out !important;
    margin-top: 400px;
}

@keyframes orbit {

    0%,
    100% {
        top: 2em;
        left: -30em;
        z-index: 2;
    }

    30% {
        z-index: -1;
    }

    35% {
        z-index: 0;
    }

    50% {
        left: 50em;
        top: 20em;
        z-index: 0;
    }

    99% {
        z-index: 0;
    }
}

@keyframes orbit2 {

    0%,
    100% {
        top: -2em;
        left: -30em;
        z-index: 2;
    }

    29% {
        z-index: -1;
    }

    30% {
        z-index: 0;
    }

    50% {
        left: 60em;
        top: -20em;
    }

    99% {
        z-index: 0;
    }
}

.eyes {
    width: 70px;
    height: 100px;
    background: #063170;
    border-radius: 120px/180px;
    position: absolute;
    top: 95px;
}

.lefteye {
    left: 100px;
}

.righteye {
    right: 100px;
}

.smile {
    width: 200px;
    height: 120px;
    border-top: 0;
    background-color: #063170;
    border-radius: 30px 30px 250px 250px;
    position: absolute;
    bottom: 50px;
    left: 140px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------Contact section--------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.Contact {
    margin-top: 80px;
    display: block;
    text-align: center;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.ContactUS {
    margin-top: 200px;
    margin-right: -875%;
    overflow: hidden;
    font-size: 300px;
    color: #063170;
    text-shadow: #06E19E 10px 6px, #F8CE27 15px 12px, #02B3FC 20px 24px;
}

.Contact h4 {
    font-size: 35px;
    font-weight: 200;
    color: #02B3FC;
    margin: 30px;
}

.gutter {
    display: flex;
    justify-content: space-around;
    padding-top: 250px;
    padding-bottom: 20px;
    color: rgb(130, 130, 130);
}

.indivSocialIcons svg {
    color: #02B3FC;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.indivSocialIcons svg:hover {
    color: #F8CE27;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.spans {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    /* background-color: #00e346; */
    text-shadow:
        0 0 0 #F8CE27,
        0 0 0 #02B3FC,
        0 0 0 #06E19E;
}

.spans:hover {
    text-decoration: underline;
    text-shadow:
        0.3px -0.1px 0px #F8CE27,
        0.2px 0.1px 0 #02B3FC,
        -0.1px 0.2px 0 #06E19E;
    transition: 1s cubic-bezier(0.5, 200, 0.5, -200);
    /* text-decoration: underline; */
}