.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin-top: 20px;
  margin-bottom: 30px;
}

.content {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  height: 100%;
  overflow: hidden;

}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content h1 {
  font-weight: 100;
  text-align: center;
  font-size: 75px;
  margin: 0;
  color: #06E19E
}

.timeline {
  display: grid;
  grid-template-rows: repeat(10, 59.5px);
}

.days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.date {
  display: flex;
  gap: 1em;
  padding-bottom: 50px;
  height: 60px
}

.date-day {
  display: inline;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 19px;
}

.date-mon {
    display: inline;
    font-size: 1.5rem;
    font-weight: 350;
    margin-top: 28px;
  }

.bottom {
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
}

.bottom h2 {
  font-size: 60px;
  color: #06E19E
}

.bottom select {
  border: none;
  color: #06E19E;
  cursor: pointer;
  background-color: transparent;
}

.bottom select option {
   background-color: rgb(39, 39, 39);
}

.bottom select:focus {
  outline: none;
}

.midBody {
  display: grid;
  grid-template-columns: 80px auto 80px;
}

.modal-content {
  padding: 25px;
  text-align: center;
}

.modal-content button {
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.day {
  width: 14%;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  justify-content: space-between;
}

.screenshotModalContent {
  text-align: center !important;
  max-width: none !important;
  align-items: center !important;
  width: 100% !important;
}
.screenshotModalContent button {
    margin-right: 45%;
    margin-left: 45%;
}

.modal-header {
  display: block !important;
  text-align: center !important;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header svg {
  margin-left: 46%;
  margin-right: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.header svg:hover {
  transform: scale(1.25);
}

.placeholderCard {
  margin-top: 60px;
  display: grid;
  grid-template-rows: repeat(9, 60px);
  border-radius: 5px;
  background-color: #2c2c2c;
  padding: 0.5rem 0;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.tooltip3 {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip3 .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(75, 75, 75);
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    overflow: visible;
    top: 120%;
    left: 34%;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip3:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }

  .tooltip4 {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip4 .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(75, 75, 75);
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    overflow: visible;
    top: 120%;
    left: 43%;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip4:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }

  .caretRight {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .caretRight svg {
    margin-top: 220px;
    margin-left: -30px
  }

  .caretRight svg:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }

  .caretLeft {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .caretLeft svg {
    margin-top: 220px;
    margin-left: -10px
  }

  .caretLeft svg:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }

  .formErrors {
    color: red;
  }

  .addIt {
    background-color: #0cb458;
    border: .5px solid black;
    border-radius: 0.375rem;
    transition: all .3s ease-in-out;
    line-height: 1.75;
    width: 25%;
  }

  .addIt:hover {
    transform: scale(1.1);
    background-color: #1cca6b;
  }

 