* {
  margin: 0;
  padding: 0;
}

.App {
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(39, 39, 39);
  overflow-y:hidden;
  height:100%;
  color: #ffffff;
  text-align: center;
  cursor: default;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  pointer-events: all;
}

@keyframes fadeInOpacity {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}







